* {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: beige;
}

p {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: beige;
    width: 400px;
    position: relative;
    left: 25%;

}